img {
	display: block;
	width: 100%;
}

.carousel-container {
	height: 420px;
	width: 100%;
	overflow: hidden;
}

.carousel-container img {
	display: none;
}

.carousel-container > #imgContainer > .active {
	display: block;
}

.btn-next {
	position: absolute;
	bottom: 0;
}

.btn-prev {
	position: absolute;
	top: 0;
}
